:root {
    --primary-color: rgb(0, 61, 165);
    --secondary-color: #000000;
    --terciary-color: #ffffff;
    --hover-color: rgb(0, 61, 165);
}
* {
    box-sizing: border-box;
    margin: 0;
     border: 0;
     padding: 0;
     
   }

   body {
    
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 150px;
  
  }

  header {
    
    padding: 10px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    color: var(--primary-color);
    background-color: var(--terciary-color);
    box-shadow:#2D2D2D 2px 0 10px;
    z-index: 1000;
    text-align: center;
  }

.header_container {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 0 20px; 
    
  }

  nav {
    margin: auto;
}
  
  nav ul {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
}
nav li {
    color: var(--secondary-color);
    margin: 0 15px; 
}

nav a {

    color: var(--secondary-color);
    transition: color 0.3s;
    text-decoration: none;
}

nav a:hover {
    color: var(--hover-color); 

}
  
.logo-header {
    display: flex;
    align-items:flex-start;
    width: 9.375rem;
    align-items: center;
    height: auto;
    transition: transform 0.2s ease;
}
.logo-header:hover {
    transform: scale(1.1);
}

main {
    flex: 1;
    padding: 1.25rem 0rem 0rem 0rem;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: var(--secondary-color);
    
}

.video-main iframe {
    width: 90vw;
    aspect-ratio: 16/9;
}
.text-main {
    padding: 2%;
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;

    

}

.cars-main {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 1.25rem;
    padding: 1rem;
}

.car {
    flex: 1 1 18.75rem; 
    width: 100%;
    max-width: 100%; 
    height: auto;

    position: relative;
}

.car-img {
    width: 100%; 
    height: auto;
    max-width: 12.5rem;
    display: block;
    margin: 0 auto;
    

}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    
   
} 


.checkbox__container__table {
    width: 100%;
    border-collapse: collapse;
}

.checkbox__container__table th {
    border: 1px solid var(--secondary-color);
    text-align: center;
}
.checkbox__container__table td {
    
    border: 1px solid var(--secondary-color);
    padding: 0.75rem;
    text-align: center;
}
.checkbox__container__texto__info {
    background-color: var(--cor-branca);
    border: none;
    cursor: pointer;
    display: block;

    text-align: center;
  }
.info {
    display: none;
    max-width: auto;
    width: 100%;
    height: auto;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--terciary-color);
    border: 1px solid var(--secondary-color);
    z-index: 1000;
    position: absolute;
    overflow-x: auto;
    margin: auto; 
}
.checkbox__container__texto__info:hover + .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: color 0.3s, background-color 0.3s;
}

.checkbox{
    display: block;
    width: 100%;
    align-items: center;
    
}

label {
    width: 100%;
    max-width: 100%;
    
}

.button-main{
  
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    width: auto;
    padding: 0 1.25rem;
    height: 1.875rem;
    transition: color 0.3s;
    cursor: pointer;
    margin: 2rem auto;
    

}

.button-main:hover {
    
    background-color: var(--hover-color);
    color: white;
}


footer {
        
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: white;
    position: fixed;
    margin-top: auto;
    bottom:0;
    width: 100%;
    height: auto;
    padding: 1.25rem 0.125rem;
    
    
}

.footer-container{
    padding: 0.625rem;
    margin: auto;
    display:flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0rem 1.25rem;
    
}

.social-icons img {
    display: flex;
    align-items: center;
    width: 1.875rem;
    height: auto;
    transition: opacity 0.2s ease;
}


.social-icons img:hover {
    transform: scale(1.1); 
    
    transition: transform 0.3s;
}
.logo-footer  {
     display: flex;
     align-items: center;
    text-align: center;
    padding: 0rem 1.25rem;
}
.logo-footer img{
    display: block;
    width: 3.75rem;
    height: auto;
}


