:root {
    --primary-color: #003DA5;
    --secondary-color: #000000;
    --hover-color: #ffcc00;
}
* {
    box-sizing: border-box;
    margin: 0;
     border: 0;
     padding: 0;
   }

   body {
    
    font: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

 header {
    
    padding: 10px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    color: var(--primary-color);
    box-shadow:#2D2D2D 2px 0 10px;
  }

.header_container {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
   ;
    
    
}
nav li {
   
    color: var(--secondary-color);
    margin: 0 15px; 
}

nav a {
    
    color: var(--secondary-color);
    transition: color 0.3s;
}

nav a:hover {
    color: var(--hover-color); 

}
  
.logo-header {
    display: flex;
    align-items:flex-start;
    width: 150px;
    align-items: center;
    height: auto;
    transition: transform 0.2s ease;
}
.logo-header:hover {
    transform: scale(1.1);
}

main {
    flex: 1;
    position: relative;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    color: var(--secondary-color);
}

.carro-destaque {       
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgb(0, 0, 0);
    padding: 15px auto;
}


footer {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: white;
    position: fixed;
    margin-top: auto;
    bottom:0;
    width: 100vw;
    height: 50px;
    padding: 10px;
    
}

.footer-container{
    display:flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: px;
}

.social-icons {
    display: flex;  
  
   
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: opacity 0.2s ease;
}

.social-icons img:hover {
    width: 60px;
    height: 60px;
    opacity: 0.8;
    transition: all 0.5s;
}

@media screen and (max-width: 768px) {
    
    .footer-container {
        font-size: small;
    }

    .social-icons {
        font-size: small;
    }
    
    .social-icons img {
        font-size: small;
    }

    .carro-destaque {
        max-width: 100%;
    }
    
}